body {
    position: relative;
    height: 100vh;
    margin: 0; 
    background-color: rgb(66, 97, 163);
}

.create-form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    background-color:rgba(240, 248, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.create-form input, .create-form label {
    margin-bottom: 15px; 
}

.create-form input[type="submit"] {
    padding: 12px 20px;
}