<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sing-in/SingUp</title>
    <link rel="stylesheet" href="style.css">
    <script src = "script.js" defer></script>
</head>

<body>
    <div class = "banner-messi">
       
    </div>
    <div class="create-form">        
        <img id = "logo" src="/imagens/logo2.png" alt="bet-rala-logo">
        
        <form id="loginForm">
            <h2>Login</h2>
            <label for="loginEmail">Email:</label>
            <input type="email" id="loginEmail" name="loginEmail" required>
            <br>

            <label for="loginSenha">Password:</label>
            <input type="password" id="loginSenha" name="loginSenha" required>
            <br>
            <button type="button" class ="button-53" onclick="login()">Login</button>
        </form>
        
        <form id="signupForm" style="display: none;">
            <h2>Create Account</h2>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>
            <br>

            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>

            <label for="senha">Password:</label>
            <input type="password" id="senha" name="senha" required>
            <br>
            <button type="button" class ="button-53" onclick="createAccount()"> Create Account</button>
        </form>
        <button id="toggleButton" onclick="toggleForm()">Don't have an account? Sign up</button>
    </div>

</body>

</html>